@model IEnumerable<HarrisandSonsContactWeb.Models.PersonalContact>

@{
    ViewData["Title"] = "PersonalContacts";
}

<h1>Personal Contacts</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PersonalFame)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalLname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalAddress1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalAddress2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalPostCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalTel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalFame)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalLname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalAddress1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalAddress2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalPostCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalTel)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PersonalContactID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PersonalContactID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PersonalContactID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
